:root {
    --color-primary: #6C63FF;
    --color-primary-dark: #534dc6;
    --color-paragraphy: rgb(86, 84, 93);
    --font-paragraphy: 'Open Sans', sans-serif;
    --font-primary: 'Mulish', sans-serif;
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
    position: relative;
}

p {
    font-family: var(--font-paragraphy);
}

a {
    color: black;
    font-weight: 400;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

span {
    color: var(--color-primary);
}

.page {
    padding: 6rem 12rem;
    animation: showElements 1s;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav> :nth-child(1) {
    color: var(--color-primary);
}

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8.2rem;
    gap: 10%;
    margin-bottom: 8.2rem;
}

main img {
    width: 50%;
    height: 400px;
}

.text h1 {
    font-size: 4.9rem;
    line-height: 5.6rem;
}

.text p {
    margin: 4rem 0;
    color: var(--color-paragraphy);
    font-family: var(--font-paragraphy);
    font-size: 1.6rem;
}


form label {
    display: block;
    color: var(--color-paragraphy);
}

form input {
    margin-top: 1rem;
    height: 5rem;
    width: 50%;
    font-size: 2rem;
    padding: 1rem 2rem;
    display: block;
    border: #6C63FF solid 1px;
    border-radius: 6px;
}

form input:focus {
    outline: 2px #6C63FF solid;
}

form input::placeholder {
    color: rgb(181, 181, 181);
}

form>p {
    color: red;
}

form button {
    width: 50%;
    height: 4.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    cursor: pointer;
    border: none;
    background: var(--color-primary);
    color: white;
    font-family: var(--font-primary);
    transition: all 0.4s;
    border-radius: 3px;
    margin-top: 1.5rem;
}

form button:hover {
    background-color: var(--color-primary-dark);
}

form button span {
    color: white;
}

footer {
    text-align: center;
}

/* MODAL */

.modal-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.626);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    width: max-content;
    padding: 3rem 2rem;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.557);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.33);
    position: relative;
    animation: increasesSize 0.7s ease-in-out;
}

.modal>button {
    right: 1rem;
    top: 1rem;
    position: absolute;
    cursor: pointer;
    border: none;
    background: none;
}

.modal>h3 {
    font-size: 3rem;
}

.modal>p {
    font-size: 2rem;
}

.hide {
    display: none;
}

/* ALERT */

.alertError {
    position: fixed;
    background-color: rgb(175, 63, 63);
    width: 100%;
    padding: 1.6rem;
    color: white;
    text-align: center;
    z-index: 1;
    transform: translateY(-100px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s;
}

.alertError.open {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}


@keyframes showElements {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes increasesSize {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}



@media screen and (min-width:1700px) {
    .page {
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;
    }

    body {
        font-size: 2.5rem;
    }

    .text h1 {
        font-size: 5.9rem;
        line-height: 5.6rem;
    }

    .text p {
        font-size: 2rem;
    }

    form>button {
        padding: 2rem;
        font-size: 1.6rem;
    }

}

@media screen and (max-width:1199px) {

    form input,
    form button {
        width: 100%;
    }
}

@media screen and (max-width:1100px) {
    body {
        font-size: 2rem;
    }

    .page {
        padding: 2rem;
    }

    main {
        flex-direction: column-reverse;
        margin: 2rem 0;
    }

    main img {
        width: 100%;
    }

    form input {
        margin-bottom: 2rem;
    }
}